@import url("cm/ComputerModern.css");

/* Override some defaults */
html, body {
  background-color: #fff;
}

body {
  padding-top: 40px; 
}

html, body, p, ul, ol, li {
    font-family: 'ComputerModern', serif;
    font-size: 16pt;
    line-height: 1.3em;
    color: #404040;
}

.posts li {
    list-style-type: none;
}

.posts {
    margin: 0;
}

ul.posts li + li {
    padding-top:1em;
}

.catname {
    text-transform:capitalize;
}

ul, ol {
    margin-left: 3em;
    margin-top: 1em;
}

p, ul {
    text-align: justify;
    text-justify: newspaper;
    margin-bottom: 0;
    margin-top:1em;
}

p + p {
    text-indent: 1.5em;
    margin-top: 0;
}

blockquote + p {
    text-indent: 1.5em;
}

blockquote p {
    font-size: 16pt;
    line-height: 1.3em;
    color: #808080;
    margin-right: 1.5em;
}

blockquote p:first-child:before {
    content:open-quote;
}

blockquote p:last-child:after {
    content:close-quote;
}

blockquote {
    margin-left: 1em;
    border-left: .5em solid #eee;
}

pre, pre font, p tt, p code {
    font-family: 'ComputerModernMono', monospace;
}

pre, pre font {
    font-size: 12pt;
    line-height: 1em;
    text-justify: none;
    white-space: pre-wrap;
    margin-top: 1em;
}

p tt, p code {
    font-size: 16pt;
    line-height: 1.3em;
    background-color: #fff;
}

pre, pre code {
    color: #c6c6c6;
    background-color: #252525;
}

pre code {
    padding: 0;
}

h1, h2, h3 {
    font-weight: normal;
}

div.page-header {
    text-align: center;
}

h1 {
    font-size: 30pt;
    margin-bottom: 1em;
    line-height: 1em;
}

h2 {
    font-size: 24pt;
    margin-top: 1em;
    margin-bottom: 0.83em;
    line-height: 1em;
    font-weight: bold;
    text-transform:capitalize;
}

h3 {
    font-size: 22pt;
    margin-top: 1em;
    margin-bottom: 0.7em;
    line-height: 1em;
}

div.date {
    text-align: center;
}

footer p {
    font-size:10pt;
    color: gray;
    margin-bottom: 1em;
}

.container > footer p {
  text-align: center; /* center align it with the container */
}
.container {
  width: 700px; /* 13 columns max */
}

/* The white background content wrapper */
.content {
  background-color: #fff;
  padding: 20px;
  margin: 0 -20px; /* negative indent the amount of the padding to maintain the grid system */
}

/* Page header tweaks */
.page-header {
  padding: 20px 20px 10px;
  margin: -20px -20px 20px;
  border:none;
}

.topbar .btn {
  border: 0;
}

.hideme{visibility:hidden;}
