body {
  font-family: helvetica,sans-serif;
  margin:40px auto;
  max-width:580px;
  color: #404040;
  padding:0 27px;
  font-size: 16pt;
  line-height: 1.5em;
}

a, a code {
  color: #0069d6;
  text-decoration: none;
}

h1, h2, h3 {
  margin-top: 2em;
  margin-bottom: 0.2em;
}

ul, ol, p {
  margin-top: 0;
}

pre.highlight {
  padding: 1em;
}

pre, p code {
  background-color: rgba(27, 31, 35, 0.05);
}

pre, code {
  font-size: 85%;
  color: rgb(36, 41, 46);
}

pre {
  line-height: 1.2em;
  -webkit-border-radius: 3px;
  -moz-border-radius: 3px;
  border-radius: 3px;
  white-space: pre-wrap;
}

h1 {
  font-size: 22pt;
}

h2 {
  font-size: 16pt;
}

footer {
  text-align: center;
}

img.slide {
  height: 160px;
  border: 1px solid #eee;
}

.slides {
  width: 800px;
  margin-left: -110px;
}

td {
  vertical-align: top;
  font-size: 12pt;
  padding: 20px;
}

td p {
  margin-bottom: 13px;
  line-height: 140%;
  text-align: left;
}

@media screen and (max-width: 800px) {
  .slides {
    width: unset;
    max-width: 580px;
    margin-left: 0px;
  }
  tr, td {
    display: block;
    text-align: center;
    padding: 0px;
  }
}
